body{
    background: black;
}
#newbody{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
    background: none;
}

#name {
    background-color: aquamarine;
    top: 0;
    margin:auto;
    width: 100%;
    position: fixed;
    z-index: 2;
    text-align: center;
}
#jesus{
    background: none;
    text-align:center;
    margin: 40px 0px;
}
#boy{
    color: coral;
    font-size: 18pt;
}
.shit{
    font-style: oblique;
    text-align: center;
}
#fucker{    
    text-align: center;
    
}
#name:hover{
    background-color: chartreuse;
}

.button{
        width: 240px;
        height: 60px;
        font-size: 16px;
        text-align: center;
        margin: 1px 12%;
        border: brown;
        color: aquamarine;
        background-color: aquamarine;
}
.button:hover{
        background-color: chartreuse;
}
#shitter{
    text-align: left;
    color: aquamarine;
   
}

.parallax{
    background-image: url("RadioAd8.png");
    height: 10%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#cocked{
    float: right;
}