#name {
    background-color: aquamarine;
    
    margin:auto;
}
#jesus{
    text-align:center;
    margin: 40px 0px;
}
#boy{
    color: coral;
    font-size: 18pt;
}
.shit{
    font-style: oblique;
    text-align: center;
}
#fucker{    
    text-align: center;
    
}
#name:hover{
    background-color: chartreuse;
}
#background{
    background-color: black;
    background-repeat: repeat;
    border: 1px solid black;
    margin-bottom: 1000px;
}
.button{
        width: 240px;
        height: 60px;
        font-size: 16px;
        text-align: center;
        margin: 1px 12%;
        border: brown;
}
.button:hover{
        background-color: chartreuse;
}
#shitter{
    text-align: left;
   
}
