body{
    background: black;
    margin:0;
    padding:0;
}
#newbody{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
    background: none;
}

.name {
    background-color: #d6312b;
    top: 0;
    margin:auto;
    width: 100%;
    position: fixed;
    z-index: 2;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.name a{
    text-decoration: none;
    color: rgb(211, 144, 99);
}
#jesus{
    background: none;
    text-align:center;
    margin: 40px 0px;
}
#bruh{
    background: none;
    text-align:center;
    margin: 40px 0px;
}
#boy{
    color: coral;
    font-size: 18pt;
}
.shit{
    font-style: oblique;
    text-align: center;
}
#fucker{    
    text-align: center;
    
}
#name:hover{
    background-color: chartreuse;
}

.button{
        font-family: 'Courier New', Courier, monospace;
        width: 240px;
        height: 80px;
        font-size: 30px;
        text-align: center;
        margin: 1% 2%;
        border: brown;
        background-color: rgb(211, 144, 99);
        border-radius: 8px;
}
        
.butt{
        font-family: 'Courier New', Courier, monospace;
        width: 240px;
        height: 60px;
        font-size: 40px;
        text-align: center;
        margin: 1px 12%;
        border: brown;
        background-color: rgb(211, 144, 99);
        border-radius: 8px;       
}

.button:hover{
        background-color: chartreuse;
}
.shitter{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    
    
   
}

.parallax{
    background-image: url("RadioAd8.png");
    height: 10%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
#cocked{
    float: right;
}
